/* --- RESET --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
}

/* --- VARIABLES --- */
:root {
  --header-height: 4.5rem;

  /*Colors*/
  --hue: 159; /* light-blue, coloquei aq porq vai usar o mesmo várias vezes */

  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

/* --- BASE --- */
html {
  /*Velho hack da vida, fazia essa rolagem pelo JS hahahaha*/
  scroll-behavior: smooth;
}
body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased; /*Funciona em mac, deixa a font mais clarinha, bacana*/
}
.title {
  font: 700 1.875rem 'Poppins', sans-serif; /*30px*/
  color: var(--title-color);
  -webkit-font-smoothing: auto; /*Aqui vou deixa o broser se virar*/
  margin-bottom: 1rem;
}
.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem; /*56px*/
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: .25rem; 
  font: 500 1rem 'DM Sans', sans-serif;
  transition: background-color .3s;
}
.button:hover {
  cursor: pointer;
  background-color: var(--base-color-alt);
}
.divider-1 {
  height: 1px;
  /* Linear-gradient, sinistro demais */
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, .34) 
  );
}
.divider-2 {
  height: 1px;
  /* Linear-gradient, sinistro demais */
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, .34), 
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/* --- LAYOUT --- */
section {
  padding: 5rem 0; /*80px*/
}
section header {
  margin-bottom: 4rem;
}
section header p span {
  color: var(--base-color);
  font-weight: bold;
}
.container {
  margin: 0 1.5rem; /* 24px dos lados */
}
.grid {
  display: grid;
  gap: 2rem; /*32px*/
}
#mainHeader {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  width: 100%;
  display: flex; /*para respeitar a caixa flexível da nav*/
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}
#mainHeader.scroll { /*sombrinha quando rolar a página*/
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}
main {
  margin-top: calc(var(--header-height) + 1.5rem);
}

/* --- LOGO --- */
.logo {
  font: 700 1.31rem 'Poppins', sans-serif; /*21px*/
  color: var(--title-color);
}
.logo span {
  color: var(--base-color);
}
.logo-alt span {
  color: var(--body-color);
}

/* --- NAVIGATION --- */
nav {
  height: var(--header-height); /*height no Figma = 72px, font-size root = 16px, ou seja, 72/16 = 4.5 */
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  position: relative;
  transition: color .3s;
}
nav ul li a:hover {
  color: var(--base-color);
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--base-color);

  position: absolute;
  bottom: -.5rem;
  left: 0;

  transition: width .3s;
}
nav ul li a:hover::after {
  width: 100%;
}
nav #menu {
  opacity: 0;
  visibility: hidden;

  top: -20rem;
  transition: .3s;
}
nav #menu ul {
  display: none;
}
/* Mostrar menu */
nav.show #menu {
  opacity: 1;
  visibility: visible;

  background-color: var(--body-color);
  
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}
nav.show #menu ul {
  display: grid;
}
nav.show ul.grid {
  gap: 4rem; /*64px*/
}

/* --- TOGGLE MENU --- */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}
nav div.icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: .3s;
}
nav.show div.icon-close {
  visibility: visible;
  opacity: 1;

  top: 1.5rem;
}

/* --- HOME --- */
#home {
  overflow: hidden;
}
#home .container {
  margin: 0;
}
#home .image {
  position: relative;
}
#home .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--base-color-second);
  position: absolute;
  /*
    Calculos que fiz, regrinha de 3
    top: height-> 242px -> 100% / diferença entre eles no figma é de 40px -> %?
    left: width -> 348px -> 100% / diferença entre eles no figma é de 39px -> %?
    
    dps passei pra rem
  */
  top: -2.5rem;
  left: 2.43rem;
  z-index: 0;
}
#home .image img,
#home .image::before {
  border-radius: .25rem;
}
#home .image img {
  position: relative;
  right: 2.93rem; /*47px*/
}
#home .text {
  margin: 0 1.5rem;
  text-align: center;
}
#home .text h1 {
  margin-bottom: 1rem; /*16px*/
}
#home .text p {
  margin-bottom: 2rem; /*32px*/
}

/* --- ABOUT --- */
#about {
  background-color: white;
}
#about .container {
  margin: 0;
}
#about .image {
  position: relative;
}
#about .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--base-color-second);
  position: absolute;
  /*
    Calculos que fiz, regrinha de 3
    top: height-> 242px -> 100% / diferença entre eles no figma é de 40px -> %?
    left: width -> 348px -> 100% / diferença entre eles no figma é de 39px -> %?
    
    Aqui vou deixar na porcentagem, parece que ficou melhor
  */
  top: -8%;
  left: -31%;
  z-index: 0;
}
#about .image img,
#about .image::before {
  border-radius: .25rem;
}
#about .image img {
  position: relative;
}
#about .text {
  margin: 0 1.5rem;
}

/* --- SERVICES --- */
#services header p {
  color: var(--title-color);
}
.cards.grid {
  gap: 1.5rem;
}
.card {
  padding: 3.6rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, .10); 
  border-bottom: .25rem solid var(--base-color);
  border-radius: .25rem .25rem 0 0;
  text-align: center;
}
.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}
.card .title {
  font-size: 1.5rem;
  margin-bottom: .75rem;
}

/* --- TESTIMONIALS --- */
#testimonials {
  background-color: white;
}
#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}
#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}
#testimonials blockquote {
  padding: 2rem; /*32px*/
  box-shadow: 0px 0px 12px rgba(0, 0, 0, .10);
  border-radius: .25rem;
}
#testimonials blockquote p {
  position: relative;
  text-indent: 1.4rem; /*parágrafo*/
  margin-bottom: 1.5rem;
  color: var(--title-color);
}
#testimonials blockquote p span {
  font: 700 2rem serif;
  position: absolute;
  top: -.4rem;
  left: -1.4rem;
  color: var(--base-color);
}
#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal; /*cite vem como padrão Italic*/
}
#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover; 
  clip-path: circle(); /*faz um círculo e some com tudo fora dele. serve tipo um border radious*/
  margin-right: .5rem;
}

/* --- SWIPER --- */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem; /*para mostrar as bordas*/
}
.swiper-pagination-bullet {
  width: .75rem;
  height: .75rem;
}
.swiper-pagination-bullet-active {
  background-color: var(--base-color);
}

/* --- CONTACT --- */
#contact .grid {
  gap: 4rem;
}
#contact .text p {
  margin-bottom: 2rem;
}
#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.6rem;
}
#contact ul.grid {
  gap: 2rem;
}
#contact ul li {
  display: flex;
  align-items: center;
}
#contact ul li i {
  color: var(--base-color);
}

/* --- FOOTER --- */
footer {
  background-color: var(--base-color);
  padding: 5rem 0;
}
footer .logo {
  /*Sempre bom lembrar, quero colocar margin-bottom no link, porém link é display inline, logo tenho que mudar*/
  display: inline-block;
  margin-bottom: 1.5rem;
}
footer .brand p {
  color: var(--text-color-light);
  margin-bottom: .75rem;
}
footer .social a {
  display: inline-block; /*sem isso não irá aceitar meus efeitos*/
  margin-right: 2rem;

  transition: .3s;
}
footer .social a:hover {
  transform: translateY(-8px);
}
footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

/* --- ARROW BACK TO TOP --- */
.back-to-top {
  background-color: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: .5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: .3s;
  transform: translateY(100%);
}
.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.contrast {
  color: var(--base-color);
  background-color: var(--text-color-light);
}

/* --- MEDIA QUERIES --- */
/*Breackpoints: 
  extra large devices: 1200 >
  large devices: 1023 >
  large devices: 992 >
  medium devices: 767 > (Tablet)
*/